/* Write your code here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.review-heading {
  color: #ffffff;
  font-size: 34px;
  font-weight: 600;
  font-family: 'Roboto';
}

.review-container {
  display: flex;
  flex-direction: column;
}
.person-image {
  height: 20vh;
  width: 20vw;
  border-radius: 30px;
}
.user-name {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}
.company-name {
  color: #171f46;
  font-size: 15px;
  font-weight: 400;
}
.description {
  color: #171f46;
  font-size: 17px;
  font-weight: 400;
}

.carousel-container {
  display: flex;
  align-items: center;
  width: 85%;
}
.arrow-button {
  height: 30px;
  width: 30px;
  color: #ffffff;
  border: none;
}
